*.asc
*.egg-info/
*.log
*.pyc
__pycache__
build
/dist
.repopickle_*
/repoc
/.tox
/.venv

# PyCharm related
/.idea/

# Environment files
shell.env
devcontainer-environment-variables.json
.devcontainer/aws-profile-map.json
.coverage
